:root {
  --text-light: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100dvh;
}
